.moviesList {
  display: grid;
  grid-template-columns: repeat(2, 451px);
  gap: 36px;
  width: 938px;
  margin: 0;
  padding: 34px 0 0 36px;

}


.alert {
  display: flex;
}

.spin {

  background-color: #f5f5f5;
}

.alertNotFound {

  width: 58.625rem;
  background-color: #f5f5f5;
  align-items: center;
  height: 100px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;


}